body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: rgb(105, 99, 99);

}

[class^=sloupec] {
    display: flex;
}

.board {
    border: 2px solid black;
    user-select: none;
}
.boardHIDE{
    display: none;
}

[class*=radek] {
    border: 2px solid black;
    width: 90px;
    height: 90px;
    font-size: 90px;
    text-align: center;
}
button{
    height: 60px;
    width: 110px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#reset{
    position: absolute;
}

.Hide{
    display: none;
}
h1{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
output{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

[class*=vyhra]{
    border: 2px solid red;
}