body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

[class^=sloupec] {
    float: inline-start;
}

.board {
    border: 2px solid black;
}

[class*=radek] {
    border: 2px solid black;
    width: 90px;
    height: 90px;
    font-size: 90px;
    text-align: center;
}
button{
    position: absolute;
    height: 50px;
    width: 100px;
}

[class*=vyhra]{
    border: 2px solid red;
}